/* General Styling */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Roboto:400,500,700,900');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    color: #666;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1em;
}

strong{
    font-weight: 700;
}

.icon-success {
    color: #7db53b;
}

.bg-icon{
    background-color: #4ACCD1;
}

.rounded-icon{
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    line-height: 1.6em;
}

.wapp-icon{
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.wapp-icon i{
    background-color: #25D366;
}

/* Header Styling */

header{
    border-bottom: 1px solid rgba(255,255,255,.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.top-area{
    background: #3fbbc0;
}

/* Navbar Styling */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #3fbbc0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #3fbbc0;
}

#nav-logo{
    width: 200px;
}

.navbar a{
    font-size: 13px;
}

/* Intro Styling */

.intro-content{
    background: url("../assets/img/bg1.jpg") no-repeat top center;
    padding: 100px 0 60px 0;
}

.intro-content h2{
    font-weight: 900;
    margin-bottom: 10px;
}

.intro-content h4{
    font-weight: 300;
}

.intro-content ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.intro-content li {
    margin: 0 0 20px 0;
    line-height: 1.6em;
    display: flex;
}

.intro-content li span{
    display: inline-block;
    margin: 0 0 0 10px;
}

#boxes h4{
    font-weight: 700;
}

.box i{
    margin-bottom: 30px;
}

/* Servicios Styling */

.service-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.service-box{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 1em 0;
}

.service-icon i{
    width: 50px;
    text-align: center;
    margin-right: .5em;
    color: #4ACCD1;
}

.service-box h5{
    margin: 0;
    color: #666;
    font-weight: 700;
}

.service-link i{
    color: #666;
}

.service-link:hover{
    text-decoration: none;
}

.service-link:hover h5, .service-link:hover i{
    color: #4ACCD1;
}

.video-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0
}

.blog{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    margin: 25px 0;
}

.blog-lg{
    padding-top: 100px;
}

.blog h3{
    font-weight: 700;
    text-align: center;
}

.blog h5, .blog h6{
    text-align: center;
    font-weight: 500;
}

.blog p{
    text-align: justify;
}

.video-box h4{
    font-weight: 700;
}

.video-box iframe{
    margin: auto;
    border: 0;
}

/* Ubicación Styling */
#ubicacion{
    padding-top: 150px;
}

#ubicacion iframe{
    border: 0;
    width: 300px;
    height: 200px;
}

#ubicacion h2{
    font-weight: 700;
}

.icons>div{
    margin: 1.5em 0;
    display: flex;
}

.icons>div i{
    margin-right: .5em;
}

/* Contacto Styling */

#contacto .card-header{
    background-color: #444;
}

#contacto .card h4{
    font-weight: 700;
    font-size: 20px;
}

label{
    font-weight: 700;
    font-size: 16px;
}

#sendmessage {
    color: green;
    border: 1px solid green;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn-skin {
    background-color: #4ACCD1;
    border-color: #4ACCD1;
    color: #fff;
    font-weight: 700;
}

.btn-skin:hover, .btn-skin:focus, .btn-skin:active, .btn-skin.active {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.btn-skin:hover {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

/* Footer Styling */

footer h4{
    font-weight: 700;
}

footer .container{
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

/* footer .icons>div{
    justify-content: center;
} */

.media ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.media .fa-facebook-square{
    color: #3873ae;
}

.media .fa-twitter-square{
    color: #62c6f8;
}

.media .fa-google-plus-square{
    color: #000;
}

/* Media Queries */

@media screen and (min-width: 768px){

    .navbar{
        width: 75%;
    }

    #nav-logo{
        width: 300px;
    }

    .intro-content{
        padding-top: 200px;
    }

    #ubicacion iframe{
        width: 600px;
        height: 450px;
    }
}
